[submodule "Project/Website/OMGG-Website"]
	path = Project/Website/OMGG-Website
	url = https://github.com/EnzoGrn/OMGG-Website
[submodule "Project/Game/Vermines"]
	path = Project/Game/Vermines
	url = https://github.com/EnzoGrn/Vermines
[submodule "Project/Template/package-template"]
	path = Project/Template/package-template
	url = https://github.com/omgg-dev/template-package
