[submodule "Project/Website/OMGG-Website"]
	path = Project/Website/OMGG-Website
	url = https://github.com/EnzoGrn/OMGG-Website
	branch = main
[submodule "Project/Game/Vermines"]
	path = Project/Game/Vermines
	url = https://github.com/EnzoGrn/Vermines
	branch = main
[submodule "Project/Template/package-template"]
	path = Project/Template/package-template
	url = https://github.com/omgg-dev/template-package
    branch = main
[submodule "Project/Template/package-game"]
	path = Project/Template/package-game
	url = https://github.com/omgg-dev/template-game
	branch = main
[submodule "Project/Package/Chronicle"]
	path = Project/Package/Chronicle
	url = git@github.com:omgg-dev/Chronicle.git
	branch = main
[submodule "Project/Package/Anti-AFK"]
	path = Project/Package/Anti-AFK
	url = git@github.com:omgg-dev/anti-afk.git
	branch = main
