name: Mirroring
on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GITLAB_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Mirror repository
        run: |
          git clone --mirror ${{ github.repositoryUrl }} repo.git
          cd repo.git
          git remote add mirror git@github.com:EpitechPromo2026/G-EIP-700-REN-7-1-eip-enzo.garnier.git
          git push --mirror mirror
